.hide {
  display: none;
}

/* #region Base styles */
body {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: #111111;
  background-color: #fafafa;
}
body:has(.backdrop.is-open),
body:has(.mobile-menu.is-open) {
  overflow-y: hidden;
}

/* Reset */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul,
ol {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
a {
  text-decoration: none;
  color: currentColor;
}
button {
  padding: 0;
  border: 1px solid transparent;
  background-color: transparent;
  cursor: pointer;
}
address {
  font-style: normal;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
/* #endregion */

/* #region Common */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.section {
  padding: 40px 0;
}
@media only screen and (min-width: 768px) {
  .section {
    padding: 50px 0;
  }
}
@media only screen and (min-width: 1168px) {
  .section {
    padding: 60px 0;
  }
}

.section-title {
  max-width: 283px;
  margin: 0 auto 32px;

  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
}
@media only screen and (min-width: 768px) {
  .section-title {
    max-width: 412px;
    margin: 0 auto 50px;

    font-size: 24px;
    line-height: 1.17;
  }
}
.accent-text {
  color: #fd9222;
}

.container {
  min-width: 320px;
  max-width: 375px;
  padding: 0 20px;
  margin: 0 auto;

  outline: 2px solid red;
  outline-offset: -2px;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }
}
@media screen and (min-width: 1168px) {
  .container {
    max-width: 1168px;
    padding: 0 16px;
  }
}
/* .animation {
  transition: 250ms, cubic-bezier(0.4, 0, 0.2, 1);
} */
/* #endregion */

/* #region Header */
.header {
}
.header > .container {
  display: flex;
}
.nav {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;

  padding: 17px 0;
}
@media only screen and (min-width: 768px) {
  .nav {
    padding: 20px 0;
    margin-right: 28px;
  }
}
@media only screen and (min-width: 1168px) {
  .nav {
    margin-right: 90px;
  }
}
.nav-menu {
  display: flex;
  align-items: center;
  gap: 20px;
}
@media only screen and (max-width: 767.98px) {
  .nav-menu {
    display: none;
  }
}
@media only screen and (min-width: 1168px) {
  .nav-menu {
    gap: 24px;
  }
}
.nav-menu-item {
}
.nav-menu-link {
  display: block;
  padding: 12px 0;
  font-weight: 500;
  line-height: 1.14;

  transition: color 300ms ease-in;
}
.nav-menu-link:hover,
.nav-menu-link:focus {
  color: #fd9222;
}
.nav-menu-link.active {
  position: relative;
  color: #fd9222;
}
.nav-menu-link.active::after {
  content: "";
  position: absolute;
  bottom: 0;

  display: block;
  width: 100%;
  height: 4px;

  border-radius: 2px;
  background-color: #fd9222;
}
/* #endregion */

/* #region Socials */
.socials {
  display: flex;
  align-items: center;
  gap: 14px;
}
.header .socials {
  margin-left: auto;
}
@media only screen and (max-width: 767.98px) {
  .header .socials {
    display: none;
  }
}
.socials-light {
  --icon-color: #ffffff;
  --icon-hover-color: #fd9222;
}
.socials-dark {
  --icon-color: #111111;
  --icon-hover-color: #fd9222;
}
.socials-item {
  width: 40px;
  height: 40px;
}
.socials-link {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;
  color: var(--icon-color);

  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 10px;

  transition:
    color 200ms ease-in-out,
    border-color 200ms ease-in-out;
}
/* .socials-light .socials-link {
  color: #ffffff;
}
.socials-dark .socials-link {
  color: #111111;
} */

.socials-link:hover,
.socials-link:focus {
  color: var(--icon-hover-color);
  border-color: rgba(253, 146, 34, 0.1);
}
.socials-icon {
  fill: currentColor;
}
/* .socials-link:hover .socials-icon {
  fill: darkorange;
} */
/* #endregion */

/* #region Logo */
.logo {
  display: inline-flex;
  align-items: center;
  gap: 4px;

  font-size: 14px;
  line-height: 1.29;

  font-weight: 700;
  letter-spacing: -0.03em;
  text-transform: uppercase;
}
@media only screen and (min-width: 1168px) {
  .logo {
    font-size: 18px;
    line-height: 1.11;
  }
}
@media only screen and (min-width: 1168px) {
  .logo-icon {
    width: 24px;
    height: 24px;
  }
}

/* #endregion */

/* #region Hero */
.hero {
  padding-bottom: 80px;
}
.hero-wrapper {
  padding: 395px 20px 20px;
  border-radius: 30px;
  background-color: rgba(17, 17, 17, 0.4);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  background-image:
    linear-gradient(rgba(17, 17, 17, 0.4), rgba(17, 17, 17, 0.4)),
    url("../images/hero/hero-bg_mob@1x.jpg");
}
@media (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero-wrapper {
    background-image:
      linear-gradient(rgba(17, 17, 17, 0.4), rgba(17, 17, 17, 0.4)),
      url("../images/hero/hero-bg_mob@2x.jpg");
  }
}
@media only screen and (min-width: 768px) {
  .hero-wrapper {
    padding: 671px 40px 40px;
    background-image:
      linear-gradient(rgba(17, 17, 17, 0.4), rgba(17, 17, 17, 0.4)),
      url("../images/hero/hero-bg_tab@1x.jpg");
  }

  @media (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .hero-wrapper {
      background-image:
        linear-gradient(rgba(17, 17, 17, 0.4), rgba(17, 17, 17, 0.4)),
        url("../images/hero/hero-bg_tab@2x.jpg");
    }
  }
}
@media only screen and (min-width: 1168px) {
  .hero-wrapper {
    padding-top: 381px;
    background-image:
      linear-gradient(rgba(17, 17, 17, 0.4), rgba(17, 17, 17, 0.4)),
      url("../images/hero/hero-bg_desk@1x.jpg");
  }

  @media (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .hero-wrapper {
      background-image:
        linear-gradient(rgba(17, 17, 17, 0.4), rgba(17, 17, 17, 0.4)),
        url("../images/hero/hero-bg_desk@2x.jpg");
    }
  }
}
.hero-title {
  max-width: 484px;
  margin-bottom: 32px;

  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;

  letter-spacing: -0.03em;
  color: #fff;
}
@media only screen and (min-width: 768px) {
  .hero-title {
    font-size: 28px;
    line-height: 1.21;
  }
}
.hero-bottom {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 32px 14px;
}
.hero-link {
  display: inline-flex;
  align-items: center;
  gap: 14px;
  font-weight: 500;
  line-height: 1.29;
  letter-spacing: -0.03em;
  color: #fff;

  transition: color 200ms ease-in-out;
}
@media only screen and (min-width: 768px) {
  .hero-link {
    margin-left: auto;
  }
}
.hero-link:hover,
.hero-link:focus {
  color: #fd9222;
}
.hero-link-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background-color: #fff;

  transition: background-color 200ms ease-in-out;
}
.hero-link:hover .hero-link-circle,
.hero-link:focus .hero-link-circle {
  background-color: #fd9222;
}
.hero-link-icon {
  fill: #fd9222;
  transition: fill 200ms ease-in-out;
}
.hero-link:hover .hero-link-icon,
.hero-link:focus .hero-link-icon {
  fill: #ffffff;
}
/* #endregion */

/* #region Buttons */
.btn {
  /* padding: 14px 40px; */
  padding: 10px 26px;
  font-weight: 600;
  color: #fff;
  border-radius: 100px;
  background-color: transparent;

  transition:
    color 300ms ease,
    background-color 300ms ease;
}
.btn-accent {
  background-color: #fd9222;
}
.btn-accent:hover,
.btn-accent:focus {
  color: #fd9222;
  background-color: rgba(253, 146, 34, 0.2);
}
.btn-primary {
  border-color: #fff;
}
.btn-primary:hover,
.btn-primary:focus {
  color: #fd9222;
  border-color: #fd9222;
}
.btn-secondary {
  font-size: 18px;
  color: #111;
  border-color: #fd9222;

  /* transition-property: color, background-color;
  transition-duration: 300ms;
  transition-timing-function: ease; */
  /* transition-delay: 0s; */
}
.btn-secondary:hover,
.btn-secondary:focus {
  background-color: #fd9222;
  color: #ffffff;
}
/* #endregion */

/* #region Benefits */
.benefits {
  padding: 50px 0;
  background-color: #1e1823;
}
.benefits-list {
  display: flex;
  justify-content: center;
  gap: 88px;
}
.benefits-item {
  position: relative;
  width: 308px;
}
.benefits-item:not(:last-child)::after {
  content: "";
  position: absolute;
  top: calc(50% - 62px);
  right: -44px;

  display: block;
  width: 1px;
  height: 124px;
  border: 1px solid rgba(255, 255, 255, 0.5);
}
.benefits-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 62px;
  height: 62px;
  margin-bottom: 22px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
}
.benefits-caption {
  margin-bottom: 18px;

  font-weight: 600;
  font-size: 18px;
  line-height: 1.22222;
  color: #fff;
}
.benefits-desc {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.7);
}
/* #endregion */

/* #region Ingredients */
.ingredients {
  padding-top: 80px;
}
@media only screen and (min-width: 768px) {
  .ingredients {
    padding-top: 100px;
  }
}
@media only screen and (min-width: 1168px) {
  .ingredients {
    padding-top: 120px;
  }
}
.ingredients-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media only screen and (min-width: 768px) {
  .ingredients-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 32px;
  }
}
@media only screen and (min-width: 1024px) {
  .ingredients-list {
    gap: 24px 32px;
  }
}
.ingredients-item {
  position: relative;

  padding: 32px 28px 28px;

  border: 1px solid transparent;
  border-radius: 15px;
}
@media only screen and (min-width: 768px) {
  .ingredients-item {
    width: calc((100% - 32px * 1) / 2);
  }
}
@media only screen and (min-width: 1168px) {
  .ingredients-item {
    width: calc((100% - 32px * 3) / 4);
    padding: 28px 23px;
  }
}
.ingredients-item:nth-child(2n) {
  border-color: #fd9222;
}
.ingredients-item:nth-child(4n + 1) {
  background-color: #fd9222;
  color: #fff;
}
.ingredients-item:nth-child(4n + 3) {
  background-color: #1e1823;
  color: #fff;
}
@media only screen and (max-width: 767.98px) {
  .ingredients-item:nth-last-child(-n + 3) {
    display: none;
  }
}
.ingredients-btn {
  position: absolute;
  top: 14px;
  right: 14px;

  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}
.ingredients-btn-icon {
  fill: none;
}
.ingredients-item:nth-child(2n) .ingredients-btn-icon {
  stroke: #fd9222;
}
.ingredients-item:nth-child(2n + 1) .ingredients-btn-icon {
  stroke: #ffffff;
}
.ingredients-ill {
  margin: 0 auto 16px;
}
@media only screen and (min-width: 1168px) {
  .ingredients-ill {
    width: 214px;
    height: 160px;
    margin: 0 auto 36px;
  }
}
.ingredients-subtitle {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.29;
  text-transform: uppercase;
}
/* #endregion */

/* #region Made */
.made {
}
.made-title {
}
.made-wrapper {
  display: flex;
  gap: 20px;
}
.made-left-side {
  border-radius: 15px;
  overflow: hidden;
}
.made-img {
}
.made-right-side {
  width: 516px;
  padding: 32px;
  border-radius: 15px;
  background: #fff;
}
.made-caption {
  width: 350px;
  margin-bottom: 28px;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.33;
}
.made-recipe {
}
.made-recipe-item {
  display: flex;
  gap: 8px;
}
.made-recipe-item:not(:last-child) {
  margin-bottom: 24px;
}
.made-recipe-item::before {
  content: "";
  flex-shrink: 0;
  display: block;
  width: 8px;
  height: 8px;
  margin-top: 5px;

  background-color: #4c4c4c;
  border: 1px solid #eceded;
  border-radius: 50%;
}

/* #endregion */

/* #region Products */
.products-list {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
@media only screen and (min-width: 768px) {
  .products-list {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
@media only screen and (min-width: 768px) {
  .products-list {
    gap: 24px 18px;
  }
}
.products-item {
  padding: 32px 20px;
  text-align: center;
  background-color: #fff;
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 15px;
}
@media only screen and (min-width: 768px) {
  .products-item {
    width: calc((100% - 32px * 1) / 2);
  }
}
@media only screen and (min-width: 1168px) {
  .products-item {
    width: calc((100% - 18px * 3) / 4);
  }
}
.products-ill {
  margin: 0 auto;
  margin-bottom: 8px;
}
.products-caption {
  margin-bottom: 2px;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  text-transform: uppercase;
}
.products-type {
  margin-bottom: 18px;
  font-size: 12px;
  line-height: 1.17;
  color: rgba(17, 17, 17, 0.7);
}
.products-btn {
  padding: 8px 20px;
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 100px;
  background-color: #fafafa;

  font-weight: 600;
}
/* #endregion */

/* #region Bestsellers */
.bestsellers {
}
.bestsellers-list {
  display: flex;
  justify-content: space-between;
}
.bestsellers-item {
}
.bestsellers-thumb {
  position: relative;
  overflow: hidden;
}
.bestsellers-ill {
  border-radius: 15px 15px 0 0;
  overflow: hidden;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(100%);
  transition: transform 1s ease-in;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 178px 40px;
  border-radius: 15px 15px 0 0;
  overflow: hidden;

  line-height: 1.29;
  letter-spacing: -0.02em;
  color: #fafafa;

  backdrop-filter: blur(15px);
  background: linear-gradient(
    161deg,
    rgba(253, 253, 255, 0.1) 0%,
    rgba(8, 2, 21, 0.1) 100%
  );
}
.bestsellers-item:hover .overlay {
  transform: translateY(0);
}

.bestsellers-wrapper {
  padding: 28px;
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-top: none;
  border-radius: 0 0 15px 15px;
}
.bestsellers-caption {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  text-transform: uppercase;
  text-align: center;
}
/* #endregion */

/* #region Reviews */
.reviews {
  padding-bottom: 120px;
}
.review-title {
  margin-bottom: 92px;
}
.reviews-list {
  display: flex;
  gap: 28px;
  margin-bottom: 50px;
}
.reviews-item {
  position: relative;
  width: calc((100% - 28px * 2) / 3);
  padding: 56px 24px 24px;
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 15px;
  background-color: #fff;

  box-shadow: 0 9px 100px 0 rgba(17, 17, 17, 0.03);
}
.reviews-avatar {
  position: absolute;
  top: -42px;
  left: calc(50% - 40px);
  /* margin: -42px auto 18px; */
}
.reviews-author {
  margin-bottom: 24px;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  text-align: center;
}
.reviews-text {
  line-height: 1.29;
  text-align: center;
  color: rgba(17, 17, 17, 0.7);
}
.btn-secondary {
  display: block;
  margin: 0 auto;
}
/* #endregion */

/* #region Footer */
.footer {
  padding: 50px 0;
  background-color: #1e1823;
}
.footer-top {
  display: flex;
  padding-bottom: 50px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.footer-slogan {
  width: 300px;
  margin-right: auto;
  font-weight: 500;
  font-size: 28px;
  line-height: 1.21;
  color: #ffffff;
}
.footer-wrapper {
  margin-right: 50px;
}
.footer-caption {
  margin-bottom: 14px;
  font-weight: 500;
  line-height: 1.29;
  color: #fff;
}
.footer-address {
}
.footer-contatcs {
}
.footer-contatcs-item:not(:last-child) {
  margin-bottom: 4px;
}
.footer-contatcs-link {
  line-height: 1.29;
  color: #fff;
}
.footer-contatcs-link:hover,
.footer-contatcs-link:focus {
  color: #fd9222;
}
.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 24px;
}
.menu {
  display: flex;
  align-items: center;
  gap: 24px;
}
.menu-item {
}
.menu-link {
  display: block;
  padding: 18px 0;
  font-weight: 500;
  line-height: 1.14;
  color: #fff;
}
.menu-link:hover,
.menu-link:focus {
  color: #fd9222;
}
/* Footer form */
.footer-form {
  display: flex;
  align-items: center;
  gap: 8px;

  max-width: 458px;
  width: 100%;
}
.footer-form-label {
  flex-basis: 313px;
}
.footer-form-field {
  width: 100%;
  height: 52px;
  padding: 13px 24px;
  border: 1.5px solid rgba(255, 255, 255, 0.15);
  border-radius: 30px;
  outline: none;
  background-color: transparent;
  color: #fff;
  transition: border-color 150ms ease-in;
}
.footer-form-field:focus {
  border-color: #fd9222;
}
.footer-btn {
  padding: 17px 32px;
  height: 52px;
}
/* #endregion */

/* #region Modal */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: rgb(46 47 66 / 40%);

  transition-property: opacity, visibility;
  transition: 300ms ease-in 150ms;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
  transition-delay: 0ms;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-70%);
  opacity: 0;

  width: 517px;
  min-height: 794px;
  padding: 40px;
  border-radius: 15px;
  background: #fafafa;

  transition-property: opacity, transform;
  transition: 150ms ease;
}
.backdrop.is-open .modal {
  opacity: 1;
  transform: translateX(-50%) translateY(-50%);
  transition-delay: 300ms;
}

.modal-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  color: #111111;
  transition: color 250ms ease-in;
}
.modal-btn:hover,
.modal-btn:focus {
  color: #fd9222;
}
.modal-btn-icon {
  stroke: currentColor;
}
.modal-slogan {
  width: 298px;
  margin-bottom: 40px;

  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;
}
/* #endregion */

/* #region Modal form */
.feedback-form {
}
.feedback-wrapper {
  position: relative;
  margin-bottom: 18px;
}
.feedback-label {
  display: block;
  margin-bottom: 8px;
  color: rgba(64, 64, 64, 0.3);
}
.feedback-field {
  position: relative;
}
.feedback-input {
  width: 100%;
  height: 68px;
  padding: 22px 62px;
  border: 1.5px solid rgba(17, 17, 17, 0.05);
  border-radius: 13px;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.03);
  outline: none;
  transition: border-color 150ms ease-in;
}
.feedback-input:focus {
  border-color: #fd9222;
}
/*? Validation  */
.feedback-input:user-invalid {
  border-color: #e74a3b;
}
/*? Validation  */
.feedback-icon {
  position: absolute;
  top: 50%;
  left: 24px;
  transform: translateY(-50%);
  fill: none;
  stroke: #404040;
  pointer-events: none;
  transition: stroke 150ms ease-in;
}
.feedback-input:focus + .feedback-icon {
  stroke: #fd9222;
}
.feedback-input:user-invalid + .feedback-icon {
  stroke: #e74a3b;
}
.error-icon {
  position: absolute;
  top: 50%;
  right: 24px;
  transform: translateY(-50%);
  opacity: 0;
  transition: opacity 150ms ease-in;
}
.feedback-input:user-invalid ~ .error-icon {
  opacity: 1;
}
.feedback-comment {
  width: 100%;
  height: 137px;
  padding: 22px 24px;

  font-size: 18px;

  border: 1.5px solid rgba(17, 17, 17, 0.05);
  border-radius: 13px;
  outline: none;
  resize: none;
  transition: border-color 150ms ease-in;
}
.feedback-comment:focus {
  border-color: #fd9222;
}
.feedback-comment::placeholder {
  color: rgba(64, 64, 64, 0.3);
}
.feedback-comment:not(:placeholder-shown):user-invalid {
  border-color: #e74a3b;
}
.counter-face {
  position: absolute;
  bottom: 10px;
  right: 10px;

  font-size: 12px;
  color: rgba(64, 64, 64, 0.6);
}
/* CUSTOM CHECKBOX */
.feedback-agreement {
  display: block;
  margin-bottom: 40px;

  color: rgba(64, 64, 64, 0.6);
}
.feedback-toggler {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  width: 20px;
  height: 20px;
  margin-right: 12px;

  border-radius: 6px;
  border: 1px solid rgba(17, 17, 17, 0.14);
  transition: 150ms ease-in;
  transition-property: background-color, border-color;
  cursor: pointer;
}
.feedback-checkbox:checked + .feedback-toggler {
  background-color: #fd9222;
  border-color: transparent;
}
.feedback-toggler-icon {
  opacity: 0;
  transition: opacity 150ms ease-in;
}
.feedback-checkbox:checked + .feedback-toggler > .feedback-toggler-icon {
  opacity: 1;
}
.feedback-link {
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #fd9222;
}
/* #endregion */

/* #region Mobile menu */
.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  transform: translateX(100%);

  display: flex;
  flex-direction: column;

  width: 100%;
  height: 100%;
  padding: 72px 16px 40px;

  background-color: #fff;
  transition: transform 300ms ease-out;
}
.mobile-menu.is-open {
  transform: translateX(0);
}
.mobile-menu-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}
.mobile-menu .mobile-menu-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  color: #2e2f42;
  border-radius: 50%;
  border: 1px solid #e7e9fc;
}
@media only screen and (min-width: 768px) {
  .mobile-menu-btn {
    display: none;
  }
}
.mobile-menu-icon {
  stroke: currentColor;
}
.mobile-menu-nav {
  margin-bottom: auto;
}
.mobile-menu-nav-item:not(:last-child) {
  margin-bottom: 40px;
}
.mobile-menu-nav-link {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
}
.mobile-menu-nav-link.active {
  color: #fd9222;
}
.mobile-menu-contacts {
  margin-bottom: 48px;
}
.mobile-menu-contacts-item:not(:last-child) {
  margin-bottom: 24px;
}
.mobile-menu-contacts-link {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
/* #endregion */

/* #region Homework footer */
.hw-footer {
  padding: 96px 0;
  background: #2e2f42;
}
.hw-footer .container {
  display: flex;
  flex-direction: column;
  gap: 72px 24px;

  text-align: center;
}
@media only screen and (min-width: 768px) {
  .hw-footer .container {
    flex-direction: row;
    flex-wrap: wrap;
    text-align: left;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1167.98px) {
  .hw-footer .container {
    padding: 0 108px;
  }
}
@media only screen and (min-width: 1168px) {
  .hw-footer .container {
    gap: 0;
  }
}

@media only screen and (min-width: 768px) {
  .hw-footer-left {
    max-width: 264px;
  }
}
@media only screen and (min-width: 1168px) {
  .hw-footer-left {
    margin-right: 120px;
  }
}

.hw-footer .logo {
  color: #fff;
}
.hw-footer-slogan {
  text-align: left;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  margin-top: 16px;
}
@media only screen and (min-width: 1168px) {
  .hw-footer-middle {
    margin-right: auto;
  }
}
.hw-footer-caption {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
}
.hw-footer .socials {
  justify-content: center;
}
.hw-footer .socials-link {
  border-color: #fff;
}
.hw-footer-right {
  max-width: 453px;
  width: 100%;
}
.hw-footer-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
@media only screen and (min-width: 768px) {
  .hw-footer-form {
    flex-direction: row;
  }
}
.hw-footer-form-field {
  max-width: 375px;
  width: 100%;
}
.hw-footer-form-input {
  width: 100%;
  height: 40px;
  padding: 8px 16px;

  color: #fff;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #fff;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  opacity: 0.3;
  outline: transparent;
}
.hw-footer-form-input::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #fff;
}
.hw-footer-form-btn {
  width: fit-content;
  min-width: 165px;
  min-height: 40px;
  padding: 8px 24px;
  border-radius: 4px;
  color: #fff;
  background: #fd9222;
}
/* #endregion */

.hero {
  padding: 50px;

  & .title {
    font-size: 20px;
  }
}

.reviews {
  padding: 50px;

  & .title {
    font-size: 20px;
  }
}
